LOGIN_NAME: tosone@qq.com # leetcode username
LOGIN_PASSWORD: wC6JW9ra4z2Gfqe # leetcode password
DATABASE_ENGINE: postgres

AppName: 6leetcode
Debug: false
ServerPort: 4000
Database:
  Engine: postgres # DB type
  Username: postgres
  Password: repl_secret
  Host: postgresql-master
  Port: 5432
  Database: database
  SSLMode: disable
Generate:
  Readme: questions
