$content-width: 1500px;

.header {
  background-color: #fff;

  .layout {
    width: $content-width;
    margin: 0 auto;

    .layoutMenu {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .menuItem {
        width: 120px;
        text-align: center;
      }

      .language {
        float: right;
      }
    }
  }
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.logo {
  width: 180px;
  height: 31px;
  margin: 16px 24px 16px 10px;
  float: left;
  background-image: url("leetcode.png");
  background-size: auto 60px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.content {
  padding: 20px 0px;
  width: $content-width;
  margin: 0 auto;
}

.questionItem {
  cursor: pointer;
}

.questionItem,
.questionHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: auto;

  .description {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: right;

    .difficult {
      margin-right: 10px;

      .easy {
        color: #009975;
      }

      .hard {
        color: #ec4c47;
      }

      .medium {
        color: #ed7336;
      }
    }

    .ace,
    .difficult,
    .paid_only {
      text-align: center;
      width: 80px;
    }
  }
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
